block var

doctype html

html(lang="en")
	head
		title #{title}
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
		script.
			// Dán mã này trong <head> của trang ở vị trí cao nhất có thể:
			// <!-- Google Tag Manager -->
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-TR6C85F');
			// <!-- End Google Tag Manager -->
	body
		script.
			// Ngoài ra, hãy dán mã này ngay sau thẻ mở <body>:
			//- <!-- Google Tag Manager (noscript) -->
			//- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TR6C85F" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			//- <!-- End Google Tag Manager (noscript) -->
		block loading
		//- main content
		block header
			include _header
		block banner,breadcrumb
		main
			block main
			#js-page-verify(class=bodyClass hidden)
		block fixed-menu
		block footer
			include _footer
		#overlay
		#back-to-top
			img(src="./assets/icons/back-top.png", alt="")
		script(type="text/javascript", src="./js/core.min.js")
		script(type="text/javascript", src="./js/main.min.js")
		block scripts